In [119]:
import pandas as pd
import numpy as np

In [120]:
training = pd.read_csv('cybersecurity_training.csv', delimiter="|", header=[0])

In [121]:
training.head()

,alert_ids,client_code,notified,categoryname,ip,ipcategory_name,ipcategory_scope,parent_category,grandparent_category,overallseverity,...,thrcnt_week,thrcnt_day,p6,p9,p5m,p5w,p5d,p8m,p8w,p8d
0,Nhq,DPM,0,Attack,YT.LB.32.21,INTERNET,Internet,7,A,3,...,4160,675,1,0,2,1,1,1,1,1
1,XZt,FIN,0,Exploit,192.SL.UK.94,PRIV-192,Private network,1,A,5,...,9,2,4,12,3,2,2,2,1,1
2,bBz,CHP,0,Attack,YT.LB.38.21,INTERNET,Internet,7,A,4,...,3788,628,1,0,2,2,1,2,2,1
3,ZNr,HPS,0,Attack,JX.NY.13.20,INTERNET,Internet,7,A,4,...,565,96,0,0,2,2,2,2,2,2
4,poV,OSC,0,Attack,YT.LB.32.21,INTERNET,Internet,7,A,4,...,2790,632,1,0,1,1,1,1,1,1

In [122]:
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39427 entries, 0 to 39426
Data columns (total 63 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   alert_ids                 39427 non-null  object
 1   client_code               39427 non-null  object
 2   notified                  39427 non-null  int64
 3   categoryname              39427 non-null  object
 4   ip                        39427 non-null  object
 5   ipcategory_name           39427 non-null  object
 6   ipcategory_scope          39427 non-null  object
 7   parent_category           39427 non-null  int64
 8   grandparent_category      39427 non-null  object
 9   overallseverity           39427 non-null  int64
 10  timestamp_dist            39427 non-null  int64
 11  start_hour                39427 non-null  int64
 12  start_minute              39427 non-null  int64
 13  start_second              39427 non-null  int64
 14  weekday                   39427 non-null  object
 15  correlatedcount           39427 non-null  int64
 16  n1                        7132 non-null   float64
 17  n2                        7132 non-null   float64
 18  n3                        7132 non-null   float64
 19  n4                        7132 non-null   float64
 20  n5                        7132 non-null   float64
 21  n6                        7132 non-null   float64
 22  n7                        7132 non-null   float64
 23  n8                        7132 non-null   float64
 24  n9                        7132 non-null   float64
 25  n10                       7132 non-null   float64
 26  score                     7132 non-null   float64
 27  srcip_cd                  39427 non-null  int64
 28  dstip_cd                  39427 non-null  int64
 29  srcport_cd                39427 non-null  int64
 30  dstport_cd                39427 non-null  int64
 31  alerttype_cd              39427 non-null  int64
 32  direction_cd              39427 non-null  int64
 33  eventname_cd              39427 non-null  int64
 34  severity_cd               39427 non-null  int64
 35  reportingdevice_cd        39427 non-null  int64
 36  devicetype_cd             39427 non-null  int64
 37  devicevendor_cd           39427 non-null  int64
 38  domain_cd                 39427 non-null  int64
 39  protocol_cd               39427 non-null  int64
 40  username_cd               39427 non-null  int64
 41  srcipcategory_cd          39427 non-null  int64
 42  dstipcategory_cd          39427 non-null  int64
 43  isiptrusted               39427 non-null  int64
 44  untrustscore              39427 non-null  int64
 45  flowscore                 39427 non-null  int64
 46  trustscore                39427 non-null  int64
 47  enforcementscore          39427 non-null  int64
 48  dstipcategory_dominate    39427 non-null  object
 49  srcipcategory_dominate    39427 non-null  object
 50  dstportcategory_dominate  39427 non-null  int64
 51  srcportcategory_dominate  39427 non-null  int64
 52  thrcnt_month              39427 non-null  int64
 53  thrcnt_week               39427 non-null  int64
 54  thrcnt_day                39427 non-null  int64
 55  p6                        39427 non-null  int64
 56  p9                        39427 non-null  int64
 57  p5m                       39427 non-null  int64
 58  p5w                       39427 non-null  int64
 59  p5d                       39427 non-null  int64
 60  p8m                       39427 non-null  int64
 61  p8w                       39427 non-null  int64
 62  p8d                       39427 non-null  int64
dtypes: float64(11), int64(42), object(10)
memory usage: 19.0+ MB

In [123]:
training["categoryname"].unique()

array(['Attack', 'Exploit', 'Suspicious Reputation',
       'Control and Maintain', 'Reconnaissance', 'Malicious Activity',
       'Suspicious Network Activity', 'Attack Preparation', 'Compromise',
       'Suspicious Account Activity', 'To Be Determined'], dtype=object)

In [124]:
for column in training.columns:
        if training[column].isna().sum() > 0:
            print(column, training[column].isna().sum())

n1 32295
n2 32295
n3 32295
n4 32295
n5 32295
n6 32295
n7 32295
n8 32295
n9 32295
n10 32295
score 32295

In [125]:
def fillmissing(dataset):
    for column in dataset.columns:
        if dataset[column].isna().sum() > 0:
            dataset[column].fillna(0, inplace=True)
    return dataset

In [126]:
training = fillmissing(training)

In [127]:
training = training.drop('alert_ids', axis=1)
training = training.drop("client_code", axis=1)
training = training.drop("ip", axis=1)

In [128]:
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39427 entries, 0 to 39426
Data columns (total 60 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   notified                  39427 non-null  int64
 1   categoryname              39427 non-null  object
 2   ipcategory_name           39427 non-null  object
 3   ipcategory_scope          39427 non-null  object
 4   parent_category           39427 non-null  int64
 5   grandparent_category      39427 non-null  object
 6   overallseverity           39427 non-null  int64
 7   timestamp_dist            39427 non-null  int64
 8   start_hour                39427 non-null  int64
 9   start_minute              39427 non-null  int64
 10  start_second              39427 non-null  int64
 11  weekday                   39427 non-null  object
 12  correlatedcount           39427 non-null  int64
 13  n1                        39427 non-null  float64
 14  n2                        39427 non-null  float64
 15  n3                        39427 non-null  float64
 16  n4                        39427 non-null  float64
 17  n5                        39427 non-null  float64
 18  n6                        39427 non-null  float64
 19  n7                        39427 non-null  float64
 20  n8                        39427 non-null  float64
 21  n9                        39427 non-null  float64
 22  n10                       39427 non-null  float64
 23  score                     39427 non-null  float64
 24  srcip_cd                  39427 non-null  int64
 25  dstip_cd                  39427 non-null  int64
 26  srcport_cd                39427 non-null  int64
 27  dstport_cd                39427 non-null  int64
 28  alerttype_cd              39427 non-null  int64
 29  direction_cd              39427 non-null  int64
 30  eventname_cd              39427 non-null  int64
 31  severity_cd               39427 non-null  int64
 32  reportingdevice_cd        39427 non-null  int64
 33  devicetype_cd             39427 non-null  int64
 34  devicevendor_cd           39427 non-null  int64
 35  domain_cd                 39427 non-null  int64
 36  protocol_cd               39427 non-null  int64
 37  username_cd               39427 non-null  int64
 38  srcipcategory_cd          39427 non-null  int64
 39  dstipcategory_cd          39427 non-null  int64
 40  isiptrusted               39427 non-null  int64
 41  untrustscore              39427 non-null  int64
 42  flowscore                 39427 non-null  int64
 43  trustscore                39427 non-null  int64
 44  enforcementscore          39427 non-null  int64
 45  dstipcategory_dominate    39427 non-null  object
 46  srcipcategory_dominate    39427 non-null  object
 47  dstportcategory_dominate  39427 non-null  int64
 48  srcportcategory_dominate  39427 non-null  int64
 49  thrcnt_month              39427 non-null  int64
 50  thrcnt_week               39427 non-null  int64
 51  thrcnt_day                39427 non-null  int64
 52  p6                        39427 non-null  int64
 53  p9                        39427 non-null  int64
 54  p5m                       39427 non-null  int64
 55  p5w                       39427 non-null  int64
 56  p5d                       39427 non-null  int64
 57  p8m                       39427 non-null  int64
 58  p8w                       39427 non-null  int64
 59  p8d                       39427 non-null  int64
dtypes: float64(11), int64(42), object(7)
memory usage: 18.0+ MB

In [129]:
from sklearn.preprocessing import OneHotEncoder
cat_encoder = OneHotEncoder()

In [130]:
category_columns = ("categoryname", "ipcategory_name", "ipcategory_scope", "grandparent_category", "weekday", "dstipcategory_dominate", "srcipcategory_dominate")

In [131]:
for column in category_columns:
    training = training.join(
        pd.DataFrame.sparse.from_spmatrix(cat_encoder.fit_transform(training[[column]]), columns=[column+ str(i) for i in (training[column].unique())]))
    training = training.drop(column, axis=1)

In [132]:
training.head()

,notified,parent_category,overallseverity,timestamp_dist,start_hour,start_minute,start_second,correlatedcount,n1,n2,...,dstipcategory_dominateCURR_NET,dstipcategory_dominateLOOPBACK,dstipcategory_dominateMULTICAST,srcipcategory_dominatePRIV-192,srcipcategory_dominatePRIV-10,srcipcategory_dominateINTERNET,srcipcategory_dominatePRIV-172,srcipcategory_dominatePRIV-CGN,srcipcategory_dominateLOOPBACK,srcipcategory_dominateLINK-LOCAL
0,0,7,3,65684,8,14,34,69,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0,1,5,1188030,1,0,2,5302,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0,7,4,43716,14,44,5,346,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0,7,4,0,20,33,40,1,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,7,4,2401,14,36,11,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [133]:
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39427 entries, 0 to 39426
Columns: 102 entries, notified to srcipcategory_dominateLINK-LOCAL
dtypes: Sparse[float64, 0](49), float64(11), int64(42)
memory usage: 19.1 MB

In [134]:
file_name = "onehot_train.pkl"
training.to_pickle(file_name)